In [1]:
import pyodbc as pyodbc
import pandas as pd
import os
import uuid
from utils import  FileReader,FreeTextFileReader

In [2]:
vendor_columns_mapping = {
    "Specialty" : "SpecialtyName",
    "Start Hour" : "startHour",
    "End Hour" : "endHour"
}
combined_columns_mapping = {
    "ProviderName" : ["Fname","Lname"],
}
# combined_columns_mapping = {}

In [3]:
status = None
with FileReader('data/Provider3.txt',vendor_columns_mapping,combined_columns_mapping,seperator='|') as csvReader:
    status = csvReader.status

Transforming csv file into DataFrame
False
Inserting data into database...
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (5, 111, 68, 92, 100)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (5, 112, 68, 92, 100)
Finished inserting data into database

In [4]:
status

,SpecialtyName,City,startHour,endHour,Cost,ProviderName,status,error
0,cardiologist,new york,9,12,100,mohammad nasser,False,[23000] [Microsoft][ODBC SQL Server Driver][SQ...
1,cardiologist,new york,9,12,100,ahmad mahmoud,False,[23000] [Microsoft][ODBC SQL Server Driver][SQ...

In [5]:
with FreeTextFileReader('data/free_text.txt') as free_text_read:
    status = free_text_read.status

True
Inserting data into database...
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 11, 69, 4, 67)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 12, 70, 5, 43)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 13, 71, 6, 39)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 14, 72, 7, 56)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 15, 73, 8, 22)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 15, 74, 8, 63)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 17, 75, 9, 55)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 18, 73, 10, 24)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 19, 76, 11, 28)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 20, 77, 12, 23)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 21, 78, 13, 47)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.LocationDim (City) VALUES ('salem nbennett spring nfort lewi nglenvar nhang rock nkessler mill nmason cove')
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 23, 80, 11, 56)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 24, 81, 15, 29)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 25, 82, 16, 45)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 26, 83, 17, 26)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 27, 84, 18, 62)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 28, 85, 19, 35)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 29, 86, 20, 41)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 30, 80, 21, 37)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 31, 87, 22, 53)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 32, 88, 23, 57)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 33, 87, 24, 69)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 34, 89, 25, 59)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 34, 73, 25, 24)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 36, 90, 26, 28)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 37, 91, 27, 24)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 38, 92, 28, 29)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.LocationDim (City) VALUES ('overland park nmerriam noverland nprairi villag nprairi vlg nshawne mission nshawne msn')
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 40, 93, 30, 45)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 41, 94, 31, 21)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 42, 95, 32, 51)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 42, 96, 32, 47)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 44, 97, 33, 64)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 45, 87, 34, 45)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 46, 77, 35, 47)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 47, 98, 36, 35)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 48, 87, 37, 40)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 49, 99, 38, 33)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 50, 100, 39, 25)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 51, 101, 40, 33)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 52, 102, 41, 43)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 53, 103, 42, 33)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 54, 97, 43, 61)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 55, 104, 44, 26)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 56, 105, 45, 32)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 57, 87, 46, 25)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 58, 106, 47, 69)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 59, 107, 48, 63)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 60, 80, 43, 63)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 61, 99, 49, 57)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.LocationDim (City) VALUES ('bicentenni nbrigg nw hollywood nwest hollywood nlos angel')
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 63, 108, 51, 53)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 64, 109, 52, 45)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 65, 83, 53, 36)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 66, 110, 54, 36)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 67, 96, 55, 32)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 68, 109, 56, 41)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 69, 111, 57, 20)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 70, 112, 12, 30)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 71, 99, 92, 28)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 72, 109, 58, 21)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 73, 113, 59, 53)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 74, 95, 60, 50)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 75, 108, 61, 48)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 76, 114, 62, 22)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 77, 115, 63, 65)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 78, 108, 64, 38)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 79, 114, 65, 39)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 80, 116, 66, 45)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 81, 108, 67, 42)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 82, 117, 68, 63)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 83, 108, 69, 44)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 84, 118, 57, 36)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 85, 119, 70, 23)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 86, 120, 71, 52)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 87, 121, 72, 60)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 87, 108, 72, 27)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 89, 122, 73, 39)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 90, 115, 74, 55)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 91, 123, 75, 31)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 92, 124, 43, 43)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 93, 125, 76, 33)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 94, 126, 77, 32)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 95, 80, 78, 53)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.LocationDim (City) VALUES ('west harrison neast white plain nw harrison nwestchest counti airport nwhite plain')
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 97, 127, 80, 55)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 98, 115, 81, 33)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 99, 128, 82, 44)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 100, 117, 83, 57)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 101, 95, 31, 33)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.LocationDim (City) VALUES ('littleton nhghlnds ranch nhighland ranch nlone tree nlonetre')
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 103, 130, 68, 63)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 104, 131, 85, 56)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 105, 129, 86, 69)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 106, 73, 87, 37)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 107, 108, 88, 60)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 108, 99, 89, 66)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 109, 132, 90, 44)
Error executing query: INSERT INTO PotatoDataMartv1.dbo.CostFact (ProviderNetworkId, ProviderId, SpecialtyId, LocationId, Cost) VALUES (4, 110, 89, 91, 24)
Finished inserting data into database

In [8]:
# set the width of the columns in the display
pd.set_option('display.max_colwidth', -1)
status[['status','error']][status['status']==False]

c:\Users\nasser\.conda\envs\finall\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

,status,error
0,False,"[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK_CostFact'. Cannot insert duplicate key in object 'dbo.CostFact'. The duplicate key value is (11, 4, 4, 69). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)"
1,False,"[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK_CostFact'. Cannot insert duplicate key in object 'dbo.CostFact'. The duplicate key value is (12, 4, 5, 70). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)"
2,False,"[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK_CostFact'. Cannot insert duplicate key in object 'dbo.CostFact'. The duplicate key value is (13, 4, 6, 71). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)"
3,False,"[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK_CostFact'. Cannot insert duplicate key in object 'dbo.CostFact'. The duplicate key value is (14, 4, 7, 72). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)"
4,False,"[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK_CostFact'. Cannot insert duplicate key in object 'dbo.CostFact'. The duplicate key value is (15, 4, 8, 73). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)"
...,...,...
95,False,"[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK_CostFact'. Cannot insert duplicate key in object 'dbo.CostFact'. The duplicate key value is (106, 4, 87, 73). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)"
96,False,"[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK_CostFact'. Cannot insert duplicate key in object 'dbo.CostFact'. The duplicate key value is (107, 4, 88, 108). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)"
97,False,"[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK_CostFact'. Cannot insert duplicate key in object 'dbo.CostFact'. The duplicate key value is (108, 4, 89, 99). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)"
98,False,"[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK_CostFact'. Cannot insert duplicate key in object 'dbo.CostFact'. The duplicate key value is (109, 4, 90, 132). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)"
99,False,"[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK_CostFact'. Cannot insert duplicate key in object 'dbo.CostFact'. The duplicate key value is (110, 4, 91, 89). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)"

In [7]:
status.to_csv('output.csv',index=False)