In [1]:
import pandas as pd
import os

In [2]:
data_path = 'dataFiles'
label_path = 'dataFiles/indexes'

In [3]:
import os
import pandas as pd

# Define the paths to the dataFiles and Indexes folders
dataFiles_path = "dataFiles"
indexes_path = "dataFiles/indexes"

In [4]:
files_inside_dataFiles = os.listdir(dataFiles_path)

In [5]:
# remove the last item in files_inside_dataFiles if it is not a file        
files_inside_dataFiles = files_inside_dataFiles[:-1]
import re

In [6]:
df = pd.DataFrame(
    columns=[
        "text",
        "name",
        "city",
        "Shour",
        "ehour",
        "speciality",
        "cost"
    ]
)
for data_file in files_inside_dataFiles:
    all_text = open(os.path.join(dataFiles_path, data_file), "r").read()
    data_text = all_text.split("\n")
    # remove the first line
    data_text = data_text[1:]
    # remove the last line if it is empty
    if data_text[-1] == "":
        data_text = data_text[:-1]
    
    label_txt = open(os.path.join(label_path, data_file.split(".")[0]+"_indexes.txt"), "r").read()
    label_txt = label_txt.split("\n")
    # remove the last line if it is empty
    if label_txt[-1] == "":
        label_txt = label_txt[:-1]
    label_txt = ['\n'.join(label_txt[i:i+6]) for i in range(0, len(label_txt), 6)]
    # create new row of the dataframe to insert the data and push it to the dataframe

    for i in range(len(data_text)):

        name_start_index = int(label_txt[i].split("\n")[0].split(":")[0].split("-")[0])
        name_end_index = int(label_txt[i].split("\n")[0].split(":")[0].split("-")[1])
        city_start_index = int(label_txt[i].split("\n")[1].split(":")[0].split("-")[0])
        city_end_index = int(label_txt[i].split("\n")[1].split(":")[0].split("-")[1])
        sHour_start_index = int(label_txt[i].split("\n")[2].split(":")[0].split("-")[0])
        sHour_end_index = int(label_txt[i].split("\n")[2].split(":")[0].split("-")[1])
        eHour_start_index = int(label_txt[i].split("\n")[3].split(":")[0].split("-")[0])
        eHour_end_index = int(label_txt[i].split("\n")[3].split(":")[0].split("-")[1])
        cost_start_index = int(label_txt[i].split("\n")[4].split(":")[0].split("-")[0])
        cost_end_index = int(label_txt[i].split("\n")[4].split(":")[0].split("-")[1])
        Speciality_start_index = int(label_txt[i].split("\n")[5].split(":")[0].split("-")[0])
        Speciality_end_index = int(label_txt[i].split("\n")[5].split(":")[0].split("-")[1])
        provider_name = all_text[name_start_index:name_end_index].strip()
        provider_city = all_text[city_start_index:city_end_index]
        provider_sHour = all_text[sHour_start_index:sHour_end_index]
        provider_eHour = all_text[eHour_start_index:eHour_end_index]
        provider_cost = all_text[cost_start_index:cost_end_index]
        provider_speciality = all_text[Speciality_start_index:Speciality_end_index]
        # replace any non-eng character with space
        data_text[i] = re.sub(r'[^a-zA-Z0-9\s]', ' ', data_text[i])
        # remove any extra space
        data_text[i] = re.sub(r'\s+', ' ', data_text[i])
        provider_name = re.sub(r'\s+', ' ', provider_name)
        provider_name = re.sub(r'[^a-zA-Z0-9\s]', ' ', provider_name)
        provider_city = re.sub(r'\s+', ' ', provider_city)
        provider_city = re.sub(r'[^a-zA-Z0-9\s]', ' ', provider_city)
        provider_sHour = re.sub(r'\s+', ' ', provider_sHour)
        provider_sHour = re.sub(r'[^a-zA-Z0-9\s]', ' ', provider_sHour)
        provider_eHour = re.sub(r'\s+', ' ', provider_eHour)
        provider_eHour = re.sub(r'[^a-zA-Z0-9\s]', ' ', provider_eHour)
        provider_cost = re.sub(r'\s+', ' ', provider_cost)
        provider_cost = re.sub(r'[^a-zA-Z0-9\s]', ' ', provider_cost)
        provider_speciality = re.sub(r'\s+', ' ', provider_speciality)
        provider_speciality = re.sub(r'[^a-zA-Z0-9\s]', ' ', provider_speciality)
            
        df = df.append({
            "text": data_text[i],
            "name": provider_name.split(" "),
            "city": provider_city.split(" "),
            "Shour": provider_sHour.split(" "),
            "ehour": provider_eHour.split(" "),
            "speciality": provider_speciality.split(" "),
            "cost": provider_cost.split(" ")
        }, ignore_index=True)
    # print the remaining files every 100 files
    if files_inside_dataFiles.index(data_file) % 100 == 0:   
        print("Remaining files: ", len(files_inside_dataFiles) - files_inside_dataFiles.index(data_file))

Remaining files:  1000
Remaining files:  900
Remaining files:  800
Remaining files:  700
Remaining files:  600
Remaining files:  500
Remaining files:  400
Remaining files:  300
Remaining files:  200
Remaining files:  100

In [14]:
pd.set_option('display.max_colwidth', -1)
# get the rows from 10  to 20
df.sample(1)

c:\Users\nasser\.conda\envs\finall\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """Entry point for launching an IPython kernel.

,text,name,city,Shour,ehour,speciality,cost
86223,BROOKLYN has doctor RonaldReese his speciality is Diagnostic Radiology his start working time is 9 each visit costs 62 and he ends his working hours at 16,[RonaldReese],[BROOKLYN],[9],[16],"[Diagnostic, Radiology]",[62]

In [21]:
def generate_label_str(row):
    token_str = ""
    splited_str = row['text'].split(" ")
    for word in splited_str:
        if word in row['name']:
            token_str += "B-Name " if word == row['name'][0] else "I-Name "
        elif word in row['city']:
            token_str += "B-City " if word == row['city'][0] else "I-City "
        elif word in row['Shour']:
            token_str += "B-Shour " if word == row['Shour'][0] else "I-Shour "
        elif word in row['ehour']:
            token_str += "B-Ehour " if word == row['ehour'][0] else "I-Ehour "
        elif word in row['speciality']:
            if word == row['speciality'][0]:
                token_str += "B-Speciality "
            else:
                token_str += "I-Speciality "
        elif word in row['cost']:
            token_str += "B-Cost " if word == row['cost'][0] else "I-Cost "
        else:
            token_str += "O "
    return token_str

In [22]:
df['label'] = df.apply(generate_label_str, axis=1)

In [27]:
df.sample(1)

,text,name,city,Shour,ehour,speciality,cost,label
57904,YungLee and he has fees of 45 he is special in Specialist Radiology Diagnostic his working hours are 8 15 he do his job in BRONX,[YungLee],[BRONX],[8],[15],"[Specialist, Radiology, Diagnostic]",[45],B-Name O O O O O B-Cost O O O O B-Speciality I-Speciality I-Speciality O O O O B-Shour B-Ehour O O O O O B-City

In [12]:
# df[['text','label']].sample(1)

In [ ]:
df.to_csv("data.csv", index=False)